body{
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: block;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(0deg, #0e2929 , #2d8888 );
    background-size:cover ;
    color: white    ;
}
h1,h2,h3,h5,h4{
    color: aliceblue;
}
.header{
    width: 100vw;
    height: auto    ;
    display: flex;

}   
.header img{
    margin-top: -2vh;
    width: 26vw;
    height: 10vw;
    cursor: pointer;
}
.header button{
    padding: 17px;
    background-color: rgb(0, 161, 161);
    border: none;
    border-radius: 20px;
    position: absolute;
    margin-left: 85vw;
    margin-top: 15px;
    cursor: pointer;
    color: rgb(186, 254, 255);
    transition: all 0.5s;
}
.header button:hover{
    transform: scale(1.1);
    background-color: rgb(0, 212, 212);
}
.header h1{
    margin-left: 12vw;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 4vh;
}
.header p{
    margin-top: 40px;
    margin-left: -159px;
    font-size: large;
    color: rgb(255, 255, 255);
}
.convert{
    width: 80vw;
    box-shadow: 0px 0px 10px black;
    border-radius: 30px;
}
.convert div{
    padding: 2px;
    padding-left: 10px;
}
.convert h1{
    margin-left: 5vw;
}
.convert input{
    width: 6vw;
    height: 3vh;
    margin-left: 18px;
    background: none;
    border: none;
    color: aliceblue;
    font-size: 20px;
    padding: 5px;
    box-shadow: 1px 1px 5px black;
}
.conversor{
    width: 24vw;
    height: 20vh;
    position: absolute;
    margin-top: -25vh;
    margin-left: 30vw;
}
.conversor h2{
    margin: 20px;
}
.conversor div{
    display: flex;
}
.valores{
    width: 20vw;
    height: auto;
    margin: 50px;
    border-radius: 20px;    
    box-shadow: 1px 1px 11px black;
}
.valores div{
    display: grid;
    grid-template-columns: repeat(2,3fr);
    width: 20vw;
}
.pagesbt{
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 11px black;
}
.bar{
    width: 50vw;
    height: 5px;
    background-color: aliceblue;
    position: absolute;
    margin-top: 21.1vh;
    transition: all 0.5s;
}
.page{
    width: 50vw;
    height: 7vh;
    border: none;
    height: 10vh;
    background: none;
    font-size: calc(3vh + 1vw);
    color: white;
    transition: all 0.5s;
    cursor: pointer;
}
.page:hover{
    font-size: 35px;
}
.coinConversors{
    display: flex;
    flex-direction: column;
    align-items: center ;
    margin-bottom: 100px;
}
.coinConversors h1{
    margin-top: 50px;
}
#comparator{
    width: 10vw;
    height: 4vh;
    cursor: pointer;
    background: none;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px 11px black;
    color: white;
    font-size: 16px;
    padding-left: 14px;

}
#comparator option{
    background-color: #2d8888;
}
.comp{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#criptosPage{
    display: none;
}