*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    height: 100vh;
    margin: 0;
    background: linear-gradient(to top, #007d82d2, #9cd7d3);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.mainText {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

.mainText h1 {
    font-size: 80px;
    margin-bottom: 20px;
}

.mainText h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.benefits {
    margin-top: 375px;
}

.benefit {
    margin: 15px 0;
    background: rgba(0, 79, 81, 0.8);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 50px;
}